/* Aunque en realidad, los estilos se están dand en el dashboard.component.ts ... */

.container {
    display: flex;
    height: 400px; /* Altura fija para contenedor padre */
    width: 100%;
}

#chart-container {
    width: 50%;
    height: 100%; /* Ocupa altura completa del padre */
    position: relative;
}

#legend{
    position: absolute;
    top: 10px;
    padding: 4px 8px;
    border: 1px solid orange;
}