/* You can add global styles to this file, and also import other style files */
#chart-container {
    background-color: #0d0d28;
    margin: 1rem auto;
    border-radius: 8px;
    border: 1px solid #333;
  }